<header class="header indigo z-depth-1">
    <img src="/images/avatar-me.jpg" alt="" class="circle responsive-img">

    <h1>Anil Kumar Sheoran</h1>

    <p>Web Developer</p>

    <nav class="indigo">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="hide-on-med-and-down">
                <li><a data-ui-sref="home.Aboutme">About me</a></li>
                <li><a data-ui-sref="home.Resume">Resume</a></li>
                <li><a  data-ui-sref="home.Contact">Contact</a></li>
                <li><a  data-ui-sref="home.Resources">Resources</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo" style="left: -250px;">
                <li><a data-ui-sref="/">About me</a></li>
                <li><a data-ui-sref="home.Resume">Resume</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/resources">Resources</a></li>
            </ul>
        </div>
    </nav>

</header>