<header class="header indigo z-depth-1">
    <img src="/images/avatar-me.jpg" alt="" class="circle responsive-img">

    <h1>XYZ</h1>

    <p>Web Developer</p>

    <nav class="indigo">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="hide-on-med-and-down">
                <li><a ui-sref="aboutme">About me</a></li>
                <li><a ui-sref="resume">Resume</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li><a ui-sref="resources">Resources</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo" style="left: -250px;">
                <li><a ui-sref="aboutme">About me</a></li>
                <li><a ui-sref="resume">Resume</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li><a ui-sref="resources">Resources</a></li>
            </ul>
        </div>
    </nav>

</header>